@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|Lato);
html, body {
  height: 100%;
  margin: 0;
  background-color: #34495e; }

header {
  background-color: #2c3e50;
  position: static;
  height: 70px; }
  header h1 {
    font-family: "Press Start 2P";
    line-height: 70px;
    margin: 0;
    margin-left: 20px;
    color: white; }

#content {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  height: 600px;
  width: 600px;
  margin: auto; }

.chall-container {
  margin: auto;
  width: 600px;
  height: 150px; }

input[type=submit] {
  border-radius: 0;
  background-color: #34495e;
  width: 60px;
  height: 30px;
  border: 3px solid white;
  color: white; }
  input[type=submit]:hover {
    cursor: pointer; }

.right {
  float: right; }

.left {
  float: left; }

.infobox {
  box-sizing: border-box;
  padding: 10px;
  width: 450px;
  height: 150px;
  position: relative;
  float: left;
  color: white;
  font-family: Lato;
  text-align: center; }
  .infobox h2.challname {
    font-family: "Press Start 2P";
    margin: 15px 0; }
  .infobox p {
    margin: 0; }
  .infobox input[type=text] {
    margin-bottom: 20px;
    height: 24px;
    width: 250px;
    border: 3px solid #2c3e50; }
  .infobox a {
    color: white; }
    .infobox a:hover {
      text-decoration: none; }

.chall-box-red {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #c0392b; }
  .chall-box-red h2.challtype, .chall-box-red h1.points, .chall-box-red p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-red p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-red h1.points {
    font-size: 40px; }
  .chall-box-red h2.challtype {
    font-size: 20px; }
  .chall-box-red:hover {
    background-color: #e74c3c;
    cursor: pointer; }

.chall-box-green {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #27ae60; }
  .chall-box-green h2.challtype, .chall-box-green h1.points, .chall-box-green p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-green p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-green h1.points {
    font-size: 40px; }
  .chall-box-green h2.challtype {
    font-size: 20px; }
  .chall-box-green:hover {
    background-color: #2ecc71;
    cursor: pointer; }

.chall-box-purple {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #8e44ad; }
  .chall-box-purple h2.challtype, .chall-box-purple h1.points, .chall-box-purple p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-purple p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-purple h1.points {
    font-size: 40px; }
  .chall-box-purple h2.challtype {
    font-size: 20px; }
  .chall-box-purple:hover {
    background-color: #9b59b6;
    cursor: pointer; }

.chall-box-blue {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #2980b9; }
  .chall-box-blue h2.challtype, .chall-box-blue h1.points, .chall-box-blue p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-blue p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-blue h1.points {
    font-size: 40px; }
  .chall-box-blue h2.challtype {
    font-size: 20px; }
  .chall-box-blue:hover {
    background-color: #3498db;
    cursor: pointer; }

.chall-box-yellow {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #f39c12; }
  .chall-box-yellow h2.challtype, .chall-box-yellow h1.points, .chall-box-yellow p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-yellow p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-yellow h1.points {
    font-size: 40px; }
  .chall-box-yellow h2.challtype {
    font-size: 20px; }
  .chall-box-yellow:hover {
    background-color: #f1c40f;
    cursor: pointer; }

.chall-box-orange {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #d35400; }
  .chall-box-orange h2.challtype, .chall-box-orange h1.points, .chall-box-orange p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-orange p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-orange h1.points {
    font-size: 40px; }
  .chall-box-orange h2.challtype {
    font-size: 20px; }
  .chall-box-orange:hover {
    background-color: #e67e22;
    cursor: pointer; }

.chall-box-grey {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #7f8c8d; }
  .chall-box-grey h2.challtype, .chall-box-grey h1.points, .chall-box-grey p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-grey p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-grey h1.points {
    font-size: 40px; }
  .chall-box-grey h2.challtype {
    font-size: 20px; }
  .chall-box-grey:hover {
    background-color: #95a5a6;
    cursor: pointer; }

.chall-box-green2 {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #16a085; }
  .chall-box-green2 h2.challtype, .chall-box-green2 h1.points, .chall-box-green2 p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-green2 p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-green2 h1.points {
    font-size: 40px; }
  .chall-box-green2 h2.challtype {
    font-size: 20px; }
  .chall-box-green2:hover {
    background-color: #1abc9c;
    cursor: pointer; }

.chall-box-empty {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #34495e; }
  .chall-box-empty h2.challtype, .chall-box-empty h1.points, .chall-box-empty p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-empty p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-empty h1.points {
    font-size: 40px; }
  .chall-box-empty h2.challtype {
    font-size: 20px; }
  .chall-box-empty:hover {
    background-color: #34495e;
    cursor: pointer; }

.chall-box-pwned {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #34495e;
  border: 3px solid #2c3e50;
  color: #2c3e50; }
  .chall-box-pwned h2.challtype, .chall-box-pwned h1.points, .chall-box-pwned p.name {
    margin: 0;
    margin: auto;
    font-family: Lato;
    text-align: center; }
  .chall-box-pwned p.name {
    margin: 10px 0;
    font-size: 16px; }
  .chall-box-pwned h1.points {
    font-size: 40px; }
  .chall-box-pwned h2.challtype {
    font-size: 20px; }
  .chall-box-pwned:hover {
    background-color: #34495e;
    cursor: pointer; }
  .chall-box-pwned:hover {
    color: white;
    border: 3px solid white; }

.task-box-crypto {
  background-color: #c0392b; }
