@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|Lato);

$darkblue: #2c3e50;
$blue: #34495e;
$font_ps2: 'Press Start 2P';
$font_ho: Lato;

html, body {
	height: 100%;
	margin: 0;	
	background-color: $blue;
}

header {
	background-color: $darkblue;
	position: static;
	height: 70px;

	h1 {
		font-family: $font_ps2;
		line-height: 70px;
		margin: 0;
		margin-left: 20px;
		color: white;
	}
}

#content {
	position: absolute;
	top: 50px; right: 0; left: 0; bottom: 0;
	height: 600px;
	width: 600px;
	margin: auto;
}

.chall-container {
	margin: auto;
	width: 600px;
	height: 150px;
}

@mixin chall-box($color, $hover) {
	box-sizing: border-box;
	padding: 20px 10px;
	color: white;
	position: relative;
	height: 150px;
	width: 150px;
	background-color: $color;

	h2.challtype, h1.points, p.name {
		margin: 0;
		margin: auto;
		font-family: $font_ho;
		text-align: center;
	}

	p.name {
		margin: 5px 0;
		font-size: 16px;
	}

	h1.points {
		font-size: 40px;
	}

	h2.challtype {
		font-size: 20px;
	}

	&:hover {
		background-color: $hover;
		cursor: pointer;
	}
}

input[type=submit] {
	border-radius: 0;
	background-color: $blue;
	width: 60px;
	height: 30px;
	border: 3px solid white;
	color: white;
	&:hover { cursor: pointer; }
}

input[type=text] {

}

.right { float: right; }
.left { float: left; }

.infobox {
	box-sizing: border-box;
	padding: 10px;
	width: 450px;
	height: 150px;
	position: relative;
	float: left;
	color: white;
	font-family: $font_ho;
	text-align: center;

	h2.challname {
		font-family: $font_ps2;
		margin: 15px 0;
	}

	p {
		margin: 0;
	}

	input[type=text] {
		margin-bottom: 20px;
		height: 24px;
		width: 250px;
		border: 3px solid $darkblue;
	}

	a {
		color: white;
		&:hover {
			text-decoration: none;
		}
	}
}

// Crypto
.chall-box-red { @include chall-box(#c0392b, #e74c3c); }
// RevƎrse
.chall-box-green { @include chall-box(#27ae60, #2ecc71); }
// Forensics
.chall-box-purple { @include chall-box(#8e44ad, #9b59b6); }
// Pwnable
.chall-box-blue { @include chall-box(#2980b9, #3498db); }
// Web
.chall-box-yellow { @include chall-box(#f39c12, #f1c40f); }
// Misc
.chall-box-orange { @include chall-box(#d35400, #e67e22); }
.chall-box-empty { @include chall-box($blue, $blue); }
.chall-box-pwned { 
	@include chall-box(#34495e, #34495e); 
	border: 3px solid #2c3e50;
	color: #2c3e50;
	&:hover {
		color: white;
		border: 3px solid white;
	}
}

.task-box-crypto { background-color: #c0392b; }

