{% extends "main.html" %}
{% block content %}
<div id="grid">
{% for i in range(grid|length) %}
	{% if i == 0 or i == 2 %}
		<div class="chall-container">
		{% for column in grid[i] %}
			{% if column.name not in my_flags %}
			<div class = "{{ 'chall-box small-box ' ~ column.category|lower}}">
			{% else %}
			<div class= "{{ 'chall-box small-box pwned' }}">
			{% endif %}
				<h2 class="type">{{ column.category }}</h2>
				<h1 class="points">{{ column.points }}</h1>
				<p class="name">{{ column.name }}</p>
			</div>
		{% endfor %}
		</div>
	{% elif i == 1 %}
		<div class="dchall-container">
			<div class="tchall-container">
			{% for column in grid[i][:2] %}
			{% if column.name not in my_flags %}
			<div class = "{{ 'chall-box small-box ' ~ column.category|lower}}">
			{% else %}
			<div class= "{{ 'chall-box small-box pwned' }}">
			{% endif %}
				<h2 class="type">{{ column.category }}</h2>
				<h1 class="points">{{ column.points }}</h1>
				<p class="name">{{ column.name }}</p>
			</div>
			{% endfor %}
			</div>
			<div class="gunter-box">
				<h2 class="type">GunterQuest</h2>
				<h1 class="points">1000</h2>
			</div>
			<div class="tchall-container">
			{% for column in grid[i][2:] %}
			{% if column.name not in my_flags %}
			<div class = "{{ 'chall-box small-box ' ~ column.category|lower}}">
			{% else %}
			<div class= "{{ 'chall-box small-box pwned' }}">
			{% endif %}
				<h2 class="type">{{ column.category }}</h2>
				<h1 class="points">{{ column.points }}</h1>
				<p class="name">{{ column.name }}</p>
			</div>
			{% endfor %}
			</div>					
		</div>
	{% endif %}
{% endfor %}
</div>
<div id="navbox">
	<div id="leaderboard">
		<table>
			{% for i in range(users|length) %}
			<tr>
				<td class="place">{{ i + 1 }}</td>
				<td class="name">{{ users[i].name }}</td>
				<td class="points">{{ users[i].points }}</td>
			</tr>
			{%endfor %}
		</table>
	</div>
	<div id="chall-info">
		<h1 class="name"></h1>
		<p class="desc"></p>
		<p class="links"></p>
		<form id="flagsubmit">
			<input type="text" id="flag">
			<input type="submit" id="solve">
		</form>
	</div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	$(function() {
		$('div.chall-box').bind('click', function() {
			$.getJSON('/task', {
				name: $('p', this).text()
			}, function(data) {
				var info = $('#chall-info');
				$('h1', info).text(data.name);
				$('.desc', info).text(data.desc);
				$(info).attr('class', data.category);
				info = $('#flagsubmit');
				$('input[type=submit]', info).attr('class', data.category);
			});
			return false;
		});

		$('#solve').bind('click', function() {
			$.getJSON('/solve', {
				name: $('.name', $('#chall-info')).text(), 
				flag: $('#flag').val()
			}, function (data) {
				console.log(data.solved);
			});
			return false;
		});
	});
</script>
{% endblock %}
