{% extends "main.html" %}
{% block content %}
<div id="grid">
{% for i in range(0, 16, 4) %}
	<div class="chall-container">
	{% for cell in challs[i:i+4] %}
		{% if cell.name not in my_flags %}
			<div class = "{{ 'chall-box ' ~ cell.category|lower}}">
		{% else %}
			<div class = "chall-box pwned">
		{% endif %}
				<h2 class="type">{{ cell.category }}</h2>
				<h1 class="points">{{ cell.points }}</h1>
				<p class="name">{{ cell.name }}</p>
			</div>
	{% endfor %}
	</div>
{% endfor %}
</div>
<div id="navbox">
	<div id="leaderboard">
		<table>
			{% for i in range(users|length) %}
			<tr>
				<td class="place">{{ i + 1 }}</td>
				<td class="name">{{ users[i].name }}</td>
				<td class="points">{{ users[i].points }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div id="chall-info">
		<h1 class="name"></h1>
		<p class="desc"></p>
		<p class="links"></p>
		<form id="flagsubmit">
			<input type="text" id="flag">
			<input type="submit" id="solve">
		</form>
	</div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	$(function() {
		$('div.chall-box').bind('click', function() {
			$.getJSON('/task', {
				name: $('p', this).text()
			}, function(data) {
				var info = $('#chall-info');
				$('h1', info).text(data.name);
				$('.desc', info).text(data.desc);
				$(info).attr('class', data.category);
				info = $('#flagsubmit');
				$('input[type=submit]', info).attr('class', data.category);
			});
			return false;
		});

		$('#solve').bind('click', function() {
			$.getJSON('/solve', {
				name: $('.name', $('#chall-info')).text(), 
				flag: $('#flag').val()
			}, function (data) {
				if (data.solved) {
					var name = $('.name', $('#chall-info')).text();
					$('.name', $('#chall-info')).text('Solved!');
					$('div.chall-box:contains(\'' + name + '\')')
						.removeClass()
						.addClass("chall-box pwned");
				} else {
					alert("You tried, here's an annoying popup");
				}
			});
			return false;
		});

		var challs = $('.chall-box').not('.pwned');
		var rand = Math.round(Math.random() * challs.length)
		challs.eq(rand).click();
	});
</script>
{% endblock %}
