<!doctype html>
<html>
	<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='flag.css') }}">
		<title>SchmaoCTF 2014</title>
	</head>
	<body>
		<header>
			<h1>Schmao CTF</h1>
		</header>
		<div id="content">
			<div class="chall-container">
				<div class="chall-box-empty left">
				</div>
				<div class="chall-box-empty left">
				</div>
				<div class="chall-box-empty left">
				</div>
				<div class="chall-box-empty left">
				</div>
			</div>
			<div class="chall-container">
				<div class="chall-box-empty left">
				</div>
				<div class="chall-box-empty right">
				</div>
			</div>
			<div class="chall-container">
				<div class="chall-box-empty left">
				</div>
				<div class="chall-box-empty right">
				</div>
			</div>
			<div class="chall-container">
				<div class="chall-box-blue left">
					<h2 class="challtype">Pwnable</h2>
					<h1 class="points">100</h1>
					<p class="name">Camel Fight!</p>
				</div>
				<div class="chall-box-empty left ">
				</div>
				<div class="chall-box-empty left">
				</div>
				<div class="chall-box-empty left">
				</div>
			</div>
		</div>
	</body>
</html>
