<!doctype html>
<html>
	<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='flag.css') }}">
		<title>SchmaoCTF 2014</title>
	</head>
	<body>
		<header>
			<h1>Schmao CTF</h1>
		</header>
		<div id="content">
			<div class="chall-container">
				<div class="chall-box-green left">
					<h2 class="challtype">Reverse</h2>	
					<h1 class="points">100</h1>
				</div>
				<div class="chall-box-orange left">
					<h2 class="challtype">Sandbox</h2>
					<h1 class="points">200</h1>
				</div>
				<div class="chall-box-purple left">
					<h2 class="challtype">Packetz</h2>
					<h1 class="points">100</h1>
				</div>
				<div class="chall-box-red left">
					<h2 class="challtype">Crypto</h2>
					<h1 class="points">100</h1>
				</div>
			</div>
			<div class="chall-container">
				<div class="chall-box-blue left">
					<h2 class="challtype">Pwnable</h2>
					<h1 class="points">300</h1>
				</div>
				<div class="chall-box-yellow right">
					<h2 class="challtype">Web</h2>
					<h1 class="points">100</h1>
				</div>
			</div>
			<div class="chall-container">
				<div class="chall-box-orange left">
					<h2 class="challtype">Sandbox</h2>
					<h1 class="points">100</h1>
				</div>
				<div class="chall-box-purple right">
					<h2 class="challtype">Packetz</h2>
					<h1 class="points">300</h1>
				</div>
			</div>
			<div class="chall-container">
				<div class="chall-box-blue left">
					<h2 class="challtype">Pwnable</h2>
					<h1 class="points">100</h1>
					<p class="name">camel fight!!</p>
				</div>
				<div class="chall-box-yellow left ">
					<h2 class="challtype">Web</h2>
					<h1 class="points">200</h1>
				</div>
				<div class="chall-box-grey left">
					<h2 class="challtype">Forensics</h2>
					<h1 class="points">100</h1>
				</div>
				<div class="chall-box-green2 left">
					<h2 class="challtype">PPC</h2>
					<h1 class="points">100</h1>
				</div>
			</div>
		</div>
	</body>
</html>
